




    <div class="container-fluid">

      <div class="card">
        <div class="card-header">
          Posts
        </div>
        <div class="card-body">
          <h5 class="card-title">Posts</h5>
          <p class="card-text">

            Current Page : {{ (pagination$ | async).pageNumber }} <br />
            Page Size : {{ (pagination$ | async).pageSize }} <br />
            Total Pages : {{ (pagination$ | async).pageTotal }} <br />
            Rows : {{ (pagination$ | async).totalRows }}<br />

            <br />
            <br />
            Page Size : Selected {{ pageSize }}


          </p>



          <form class="form-inline float-left">
              <button type="submit" class="btn btn-success mb-2">Create</button>
              <button class="btn btn-primary" (click)="onClickBtnGetPosts(0)">Refresh</button>
          </form>


            <form class="form-inline float-right">
                <div class="form-group mb-2">
                    <label for="inputState">Result</label>
                    <select (change)="onChange($event)"  class="form-control">
                      <option>5</option>
                      <option>10</option>
                      <option>15</option>
                      <option>20</option>
                    </select>
                </div>




                <div class="form-group mx-sm-3 mb-2">
                  <label for="inputPassword2" class="sr-only">Search</label>
                  <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
              </form>



          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Status</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let post of (docs$ | async) ">
              <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td> <a href="#" class="badge badge-success">{{ post.status }}</a> </td>
                <td> <img class="rounded" [src]="post.imageurl" style="height: 120px;"> </td>
                <td><button class="btn btn-primary" (click)="onClickBtnGetPosts()">Edit</button></td>
                <td><button class="btn btn-primary" (click)="onClickBtnGetPosts()">Delete</button></td>
                <td><button class="btn btn-primary" (click)="onClickBtnGetPosts()">Details</button></td>
              </tr>
            </tbody>
          </table>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">


    <ng-container *ngFor="let p of [].constructor( (pageTotal$ | async) ); let i = index; let f = first; let l = last;">

    <li *ngIf="f == true" class="page-item disabled">
      <button class="page-link" href="#" tabindex="-1">Previous</button>
    </li>

    <li class="page-item"><button class="page-link" (click)="onClickBtnPagination(i)">{{ (i + 1) }}</button></li>

    <li *ngIf="l == true" class="page-item">
      <button class="page-link">Next</button>
    </li>
  </ng-container>

  </ul>
</nav>





        </div>
      </div>


    </div>
