<div class="alert alert-success" role="alert">
  Message : <strong>{{ message }}</strong>
  <br />
  <br />
  Navigation: <strong>{{ navigation }}</strong>
  <br />
  <br />
  Counter: <strong>{{ counter }}</strong>
</div>

<div class="row">

  <div class="col-3">

  </div>


  <div class="col">

      <div class="row">
          <div class="col" >
            <app-posts></app-posts>
          </div>
      </div>

      <div class="row">
        <div class="col" >
          <app-posts-form></app-posts-form>
        </div>
    </div>



  </div>
</div>
